<!DOCTYPE html>
<html lang="es">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="../assets/css/style.css">
    <meta charset="UTF-8">
    <meta name="keywords"
        content="Atenas, Libros, Libreria, Harry Potter, Lore, Ficcion, Romance, Tienda online, Envios Gratis">
    <meta name="description"
        content="Todos los Libros que necesitas/buscas, en un solo lugar. Envios gratis en pedidos mayores a $3000. Recibi tu pedido en tu casa sin demoras.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra LIBROS en Atenas</title>
</head>

<body>
    <header>
        <div class="container container-principal">
            <div class="index container">
                <nav class="navbar navbar-expand-lg navbar-light ">
                    <div class="container atenas">
                        <a class="logo navbar-brand" href="../index.html">Atenas</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active " aria-current="page" href="../index.html">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="libros nav-link active" href="./productos.html">Libros</a>

                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./editorial.html">Editorial</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./contact.html">Contactanos</a>
                                </li>
                            </ul>
                        </div>
                        <nav class="navbar navbar-light ">
                            <div class="container-fluid">
                                <form class="d-flex search-navbar">
                                    <input id="search" class="form-control me-2" type="search" placeholder="Buscar"
                                        aria-label="Search" autocomplete="off">
                                    <button class="btn btn-outline-success search-btn">Buscar</button>
                                </form>
                                <button type="button" class="btn bg-white btn-primary p-0 mx-3 border-0 border-radius" data-bs-target="#modalCart" data-bs-toggle="modal"><i class="carrito fab fa-shopify"></i></button>
                            </div>
                        </nav>
                    </div>
                </nav>
            </div>
        </div>
        
        <div class="container-fluid content-bread">
            <nav class="bread-libros">
                <ul class="bread-lista">
                    <li class="bread-lista__item"><a class="bread__link bread__link--back" href="../index.html"><i
                        class="fas fa-long-arrow-alt-left"></i> Inicio</a>
                    </li>
                    <li class="bread-lista__item"><a class="bread__link bread__link--red" href="#"> Libros</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main id="main">
        <div class="hero container-fluid">
            <h1>Escoge el genero</h1>
            <p>Te recomendamos seleccionar la categoria de <strong>Libro</strong> que te interese para facilitar tu
                búsqueda.</p>
            </div>


        <!-- filtros -->
        <div class="container navbar-filtros">
            <div class="generos__filtros">
                <a class="filterCategory" id="fantasy" >Fantasy</a>
                <a class="filterCategory" id="fiction" >Fiction</a>
                <a class="filterCategory" id="terror" >Terror</a>
                <a class="filterCategory" id="romance" >Romance</a>
            </div>
        </div>
    </main>


    
    <!-- Scrollable modal -->
    
        <div class="modal fade" id="modalCart" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>carrito de compras</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row cartContainer mx-0">                        </div> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="restoreCart" class="btn btn-danger">Restore Cart</button>
                        <button type="button" id="btn-buy-cartItems" class="btn btn-success">Buy</button>
                    </div>
                </div>
            </div>
        </div>
        
    
    
    <!-- footer -->
    <footer class="container-fluid">
        <div class="row">
            <div class="footer-social col col-sm-12 col-md-6 col-lg-3">
                <h3>Redes Sociales</h3>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
            </div>

            <ul class="footer-list col col-sm-12 col-md-6 col-lg-3">
                <h3>Navegacion</h3>
                <li>
                    <a href="./index.html">Inicio</a>
                </li>
                <li>
                    <a href="./editorial.html">Editorial</a>
                </li>
                <li>
                    <a href="./productos.html">Libros</a>
                </li>
                <li>
                    <a href="#">Informacion</a>
                </li>
                <li>
                    <a href="./contact.html">Contactanos</a>
                </li>
            </ul>
            <ul class="libros-footer col col-sm-12 col-md-6 col-lg-3">
                <h3>Libros</h3>
                <li>Ficcion</li>
                <li>Fantasia</li>
                <li>Romance</li>
                <li>Terror</li>
            </ul>
            <ul class="editoriales-footer col col-sm-12 col-md-6 col-lg-3">
                <h3>Editoriales</h3>
                <li>Salamandra</li>
                <li>Hidra Editorial</li>
                <li>Naranja</li>
                <li>Vyr Editorial</li>
                <li>Puck Editorial</li>
            </ul>
            <div class="row fila-copy-footer">
                <p class="copyright col col-sm-12 col-md-12 col-lg-12">
                    Copyright © Editoriales mencionadas
                </p>
            </div>
        </div>

    </footer>

    <script src="/src/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous">
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
</body>

</html>