@import "../scss/_Variables.scss";

.content-bread {
    
    .bread-libros {
        .bread-lista {
            list-style: none;
            .bread-lista__item {
                display: inline-block;
                .bread__link {
                    text-decoration: none;
                    color: rgb(87, 85, 85);
                }
                .bread__link--home:hover {
                    color: #000;
                    text-decoration: underline;
                    transform: translateX(-50%);
                
                }
                .bread__link--libros::before {
                    content: '/';
                }
                .bread__link--libros {
                    color: $color1;
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }
    }
}

.hero {
    background-color: cadetblue;
    
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h1 {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        font-family: $font2;
        
    }
    p {
        font-family: $font2;
    }
}

.navbar-filtros {
    margin-top: 1em;
    .generos__filtros {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        a {
            text-decoration: none;
            color: #000;
            border-bottom: 1px solid cadetblue;
            padding: 5px;
            transition: 0.4s;
        }
        a:hover {
            color: #ccc;
            transform: translateY(5px);
        }
    }
}

.container-main-libros {
    margin-top: 2em;
    .content__cards {
        
        grid-gap: 1em;
        display: flex;
        justify-content: space-between;
        .card__body:hover {
            transition:transform .3s;
            transform: translateY(-15px);
        }
        .card__body {
            margin: 1em auto;
            display: flex;
            flex-direction: column;
            border: 1px solid rgba(128, 128, 128, 0.253);
            border-radius: 8px;
            width: 15em;
            height: 25em;
            img {
                width: 13em;
                height: 18em;
            }
            h2 {
                text-align: center;
                font-size: 12px;
                font-weight: 700;
                font-family: $font3;
                transform: translateY(5px);
            } 
            p {
                text-align: center;
                font-size: 15px;
                font-family: $font1;
            }
            .btn {
                background-color: cadetblue;
                width: 100px ;
                color: #fff;
                transform: translateX(50px);
                
            }
            .btn:hover {
                background-color: black;
            }
        }
    }
}

