@import "../scss/_Variables.scss";

.content-bread {
    margin: 0 10em;
    .bread-libros {
        .bread-lista {
            list-style: none;
            .bread-lista__item {
                display: inline-block;
                .bread__link {
                    text-decoration: none;
                    color: rgb(87, 85, 85);
                }
                .bread__link--home:hover {
                    color: #000;
                    text-decoration: underline;
                    transform: translateX(-50%);
                
                }
                .bread__link--libros::before {
                    content: '/';
                }
                .bread__link--libros {
                    color: $color1;
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }
    }
}

.hero {
    background-color: #ccc;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 12em;
    h1 {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        font-family: $font2;
    }
    p {
        font-family: $font2;
    }
}


.container-main-libros {
    margin-top: 5em;
    .content__cards {
        display: flex;
        justify-content: space-between;
        .card__body {
            display: flex;
            flex-direction: column;
            border: 1px solid rgba(128, 128, 128, 0.253);
            border-radius: 5px;
            width: 15em;
            height: 25em;
            img {
                width: 13em;
                height: 20em;
            }
            h2 {
                text-align: start;
                font-size: 15px;
                font-weight: 700;
                font-family: $font3;
            } 
            p {
                font-size: 15px;
                font-family: $font1;
            }
            .btn {
                background-color: $color1;
                width: 100px ;
                color: #fff;
                transform: translateX(50px);
                
            }
            .btn:hover {
                background-color: black;
            }
        }
    }
}

