@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@1,500&display=swap');
$font1 :'Amita', cursive;
$font2 :'Montserrat', sans-serif;
$font3 : 'Besley', serif;
$shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
$color1: #b61928;
$shadow2: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
@mixin size-card {
    width: 15em;
    height: 25em;
}
@mixin size-img-card {
    width: 13em;
    height: 18em;
}
@mixin size-book {
    height: 35em;
    width:25em;
}