@import "../scss/_Variables.scss";
@import "../scss/_productos.scss";



* {
    margin: 0;
    padding: 0;
    font-family: $font2;
    box-sizing: border-box;
}

.container-principal {
        .index {
        
            .logo {
                font-family: $font1;
                font-size: 30px;
                color: cadetblue !important;
            }
            .carrito {
                font-size: 30px;
                color: cadetblue;
            }
            .carrito:hover {
                cursor: pointer;
                color: $color1;
                font-size: 35px;
            }
        }
        
        .content-home {
            margin: 0 auto;
        }
        
        .metodode {
            margin: 3em 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            .gp {
                margin: 2em ;
                h2 {
                    font-size: 18px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                p {
                    color: grey;
                }
            }
        }
        
        .main-home {
            width: 100%;
            box-shadow: $shadow;
            background-color: cadetblue;
            margin: 1em auto;
            .header-main-home {
                width: 100%;
                padding: 10px;
                text-align: center;
                h1 {
                    font-family: $font3 ;
                    font-size: 25px;
                    i {
                        margin-right: 10px;
                    }
                }
            }
        }
        
    .libros-onfire {
        margin: 3em 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .books-content {
            margin: 1em auto;
            height: 400px;
            width: 300px;
            
            background-color: #fff;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            img {
                height: 20em;
                width: 13em;
                box-shadow: $shadow;
                cursor: pointer;
            }
            h2 {
                font-size: 15px;
                font-family: $font3;
                margin: 0.5em ;
                text-align: center;
            }
            p {
                font-size: 15px;
                font-weight: bold;
                del {
                    color: grey;
                    font-size: 12px;
                }
            }
            a {
                background-color: $color1;
                padding: 5px 15px;
                color: #fff;
                transition: 0.5s;
            }
            a:hover {
                background-color: #000;
            }
        }
    }
}

footer {
    margin-top: 5em;
    padding: 40px 0;
    background-color: cadetblue;
    .footer-social {
        text-align: center;
        padding-bottom: 25px;
        color: #fff;   
        h3 {
            font-size: 20px;
            font-family: $font3;
        }
        a {
            color: #ccc;
            width: 40px;
            height: 40px;
            line-height: 38px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            margin: 0 8px;
            font-size: 20px
        }
        i {
            transition: 0.5s;
        }
        i:hover {
            color: $color1;
        }
    }
    .footer-list {
        list-style: none;
        text-align: center;
        h3 {
            color: #fff;
            font-family: $font3;
            font-size: 20px;
        }
        li {
            a {
                color: #ccc;
                text-decoration: none;
            }
        }
    }
    .libros-footer {
        list-style: none;
        text-align: center;
        h3 {
            color: #fff;
            font-size: 20px;
            font-family: $font3;
        }
        li {
            color: #ccc;
        }
    }
    .editoriales-footer {
        list-style: none;
        text-align: center;
        h3 {
            color: #fff;
            font-size: 20px;
            font-family: $font3;
        }
        li {
            color: #ccc;
            
        }
    }
    .fila-copy-footer {
        text-align: center;
        p {
            color: #ccc;
        }
    }
}