@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@1,500&display=swap");
.content-bread .bread-libros .bread-lista {
  list-style: none; }
  .content-bread .bread-libros .bread-lista .bread-lista__item {
    display: inline-block; }
    .content-bread .bread-libros .bread-lista .bread-lista__item .bread__link {
      text-decoration: none;
      color: #575555; }
    .content-bread .bread-libros .bread-lista .bread-lista__item .bread__link--back:hover {
      color: #000;
      text-decoration: underline;
      transform: translateX(-50%); }
    .content-bread .bread-libros .bread-lista .bread-lista__item .bread__link--back::after {
      content: '/'; }
    .content-bread .bread-libros .bread-lista .bread-lista__item .bread__link--red {
      color: #b61928;
      font-weight: bold;
      font-size: 18px;
      cursor: text; }

.hero {
  background-color: cadetblue;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .hero h1 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif; }
  .hero p {
    font-family: "Montserrat", sans-serif; }

.navbar-filtros {
  margin-top: 1em; }
  .navbar-filtros .generos__filtros {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .navbar-filtros .generos__filtros a {
      text-decoration: none;
      color: #000;
      border-bottom: 1px solid cadetblue;
      padding: 5px;
      transition: 0.4s; }
    .navbar-filtros .generos__filtros a:hover {
      color: #ccc;
      transform: translateY(5px); }

.container-main-libros {
  margin-top: 2em; }
  .container-main-libros .content__cards {
    grid-gap: 1em;
    display: flex;
    justify-content: space-between; }
    .container-main-libros .content__cards .card__body:hover {
      transition: transform .3s;
      transform: translateY(-15px); }
    .container-main-libros .content__cards .card__body {
      margin: 1em auto;
      display: flex;
      flex-direction: column;
      border: 1px solid rgba(128, 128, 128, 0.253);
      border-radius: 8px;
      width: 15em;
      height: 25em; }
      .container-main-libros .content__cards .card__body img {
        width: 13em;
        height: 18em; }
      .container-main-libros .content__cards .card__body h2 {
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        font-family: "Besley", serif;
        transform: translateY(5px); }
      .container-main-libros .content__cards .card__body p {
        text-align: center;
        font-size: 15px;
        font-family: "Amita", cursive; }
      .container-main-libros .content__cards .card__body .btn {
        background-color: cadetblue;
        width: 100px;
        color: #fff;
        transform: translateX(50px); }
      .container-main-libros .content__cards .card__body .btn:hover {
        background-color: black; }

.navbar-filtros .generos__filtros #selected-block {
  cursor: inherit;
  color: #b61928;
  font-weight: 700; }

.navbar-filtros .generos__filtros #selected-block:hover {
  transform: none; }

.error-404 {
  min-height: 100vh;
  width: 100%; }
  .error-404 img {
    height: 800px;
    width: 100%;
    object-fit: cover; }

.product-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5em;
  border-bottom: 1px #ccc solid; }
  .product-page img {
    height: 35em;
    width: 25em;
    margin-bottom: 2em; }
  .product-page .info-libro {
    margin-bottom: 2em;
    transform: translateX(50px);
    width: 50em; }
    .product-page .info-libro h1 {
      font-size: 30px;
      font-family: "Montserrat", sans-serif; }
    .product-page .info-libro P {
      transform: translateY(10px);
      font-size: 40px;
      font-weight: bold;
      font-family: "Montserrat", sans-serif; }
    .product-page .info-libro .star {
      transform: translateY(-10px); }
      .product-page .info-libro .star i {
        color: #ccc; }
      .product-page .info-libro .star i:hover {
        font-size: 20px;
        color: burlywood;
        cursor: pointer; }
    .product-page .info-libro .payment-icons .icons i {
      font-size: 20px; }
    .product-page .info-libro .payment-icons a {
      font-size: 15px;
      text-transform: uppercase;
      color: cadetblue; }
    .product-page .info-libro .payment-icons a:hover {
      color: #b61928; }
    .product-page .info-libro .comprar-content {
      width: 50%;
      border-top: 1px #ccc solid;
      margin-top: 1em;
      padding-top: 1em; }
      .product-page .info-libro .comprar-content .form-cantidad {
        display: flex;
        flex-direction: column;
        font-family: "Amita", cursive; }
        .product-page .info-libro .comprar-content .form-cantidad #quantity {
          width: 70px;
          text-decoration: none;
          padding-left: 7px; }
        .product-page .info-libro .comprar-content .form-cantidad label {
          color: grey;
          text-transform: uppercase;
          font-size: 15px; }
      .product-page .info-libro .comprar-content .botones-bc {
        margin-top: 2em;
        display: flex;
        width: 30em; }
        .product-page .info-libro .comprar-content .botones-bc button {
          border: none;
          color: white;
          font-size: 16px;
          transition: 0.5s; }
        .product-page .info-libro .comprar-content .botones-bc .btn-book {
          background-color: cadetblue;
          text-align: center;
          padding: 10px 0;
          width: 30%; }
        .product-page .info-libro .comprar-content .botones-bc .btn-book:hover {
          background-color: #000; }
        .product-page .info-libro .comprar-content .botones-bc .btn-carro {
          padding: 10px 0;
          background-color: #ccc;
          width: 10%; }
        .product-page .info-libro .comprar-content .botones-bc .btn-carro:hover {
          background-color: #000; }

.about-libro {
  margin-top: 5em;
  padding-bottom: 5em;
  border-bottom: 1px #ccc solid; }
  .about-libro h2 {
    text-transform: uppercase;
    font-size: 25px; }

.carrito-content {
  margin-top: 10em;
  margin-bottom: 5em;
  text-align: center; }
  .carrito-content .line-hover {
    font-size: 25px;
    font-family: "Amita", cursive; }
  .carrito-content .cart-counter {
    margin-left: 5px;
    color: cadetblue;
    font-family: "Besley", serif; }

.producto-carro {
  border-top: 1px #ccc solid;
  padding-top: 20px; }
  .producto-carro .book-carrito {
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center; }
    .producto-carro .book-carrito .img-nameBook {
      display: flex;
      justify-content: center;
      max-width: 300px; }
      .producto-carro .book-carrito .img-nameBook #obse {
        transform: translateX(-5px); }
      .producto-carro .book-carrito .img-nameBook img {
        width: 5em; }
      .producto-carro .book-carrito .img-nameBook h2 {
        font-size: 15px;
        font-weight: 700;
        margin-top: 10px;
        transform: translateX(20px);
        transition: all 0.5s; }
      .producto-carro .book-carrito .img-nameBook h2:hover {
        cursor: pointer; }

.buy-shop {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  justify-content: center;
  align-items: center; }
  .buy-shop .boton-shop {
    border: none;
    color: #fff;
    background: #23232c;
    padding: 20px 50px;
    max-width: 300px;
    text-transform: uppercase;
    transition: all 0.6s; }
  .buy-shop .boton-shop:hover {
    background: cadetblue; }
  .buy-shop a {
    font-size: 15px;
    transform: translateY(10px);
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    border-bottom: 2px black solid; }
  .buy-shop a::before {
    content: "<i class=" fas fa-shopping-cart "></i>"; }

.body-contact {
  width: 100%;
  height: 100vh; }
  .body-contact .contact-container::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("/assets/media/fotocontact.jpg") no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px); }
  .body-contact .contact-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px; }
    .body-contact .contact-container .contact-box {
      max-width: 850px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #fff;
      box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19); }
      .body-contact .contact-container .contact-box .left {
        height: 100%;
        background: url("/assets/media/fotocontact.jpg") no-repeat center;
        background-size: cover; }
      .body-contact .contact-container .contact-box .right {
        padding: 25px 40px; }
        .body-contact .contact-container .contact-box .right h2 {
          padding-bottom: 10px;
          margin-bottom: 10px;
          position: relative; }
        .body-contact .contact-container .contact-box .right h2::after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          height: 4px;
          width: 50px;
          border-radius: 2px;
          background-color: #2ecc; }
        .body-contact .contact-container .contact-box .right .field {
          outline: none;
          border: none;
          border: 2px solid rgba(0, 0, 0, 0);
          width: 100%;
          padding: 0.5rem 1rem;
          background-color: rgba(230, 230, 230, 0.6);
          font-size: 1.1rem;
          margin-bottom: 22px;
          transition: .3s; }
        .body-contact .contact-container .contact-box .right .field:hover {
          background-color: rgba(0, 0, 0, 0.1); }
        .body-contact .contact-container .contact-box .right .field:focus {
          background-color: #fff;
          border: 2px solid rgba(30, 85, 250, 0.47); }
        .body-contact .contact-container .contact-box .right .area {
          min-height: 150px; }
        .body-contact .contact-container .contact-box .right .btn {
          width: 100%;
          padding: 0.5rem 1rem;
          font-size: 1.1rem;
          background-color: cadetblue;
          cursor: pointer;
          outline: none;
          border: none;
          color: #fff;
          transition: .3s; }
        .body-contact .contact-container .contact-box .right .btn:hover {
          background-color: #000; }

@media screen and (max-width: 880px) {
  .contact-box {
    grid-template-columns: 1fr; }
  .left {
    height: 200px; } }

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box; }

.container-principal .index .logo {
  font-family: "Amita", cursive;
  font-size: 30px;
  color: cadetblue !important; }

.container-principal .index .carrito {
  font-size: 30px;
  color: cadetblue; }

.container-principal .index .carrito:hover {
  cursor: pointer;
  color: #b61928;
  font-size: 35px; }

.container-principal .content-home {
  margin: 0 auto; }

.container-principal .metodode {
  margin: 3em 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .container-principal .metodode .gp {
    margin: 2em; }
    .container-principal .metodode .gp h2 {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase; }
    .container-principal .metodode .gp p {
      color: grey; }

.container-principal .main-home {
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: cadetblue;
  margin: 1em auto; }
  .container-principal .main-home .header-main-home {
    width: 100%;
    padding: 10px;
    text-align: center; }
    .container-principal .main-home .header-main-home h1 {
      font-family: "Besley", serif;
      font-size: 25px; }
      .container-principal .main-home .header-main-home h1 i {
        margin-right: 10px; }

.container-principal .libros-onfire {
  margin: 3em 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .container-principal .libros-onfire .books-content {
    margin: 1em auto;
    height: 400px;
    width: 300px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }
    .container-principal .libros-onfire .books-content img {
      height: 20em;
      width: 13em;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      cursor: pointer; }
    .container-principal .libros-onfire .books-content h2 {
      font-size: 15px;
      font-family: "Besley", serif;
      margin: 0.5em;
      text-align: center; }
    .container-principal .libros-onfire .books-content p {
      font-size: 15px;
      font-weight: bold; }
      .container-principal .libros-onfire .books-content p del {
        color: grey;
        font-size: 12px; }
    .container-principal .libros-onfire .books-content a {
      background-color: #b61928;
      padding: 5px 15px;
      color: #fff;
      transition: 0.5s; }
    .container-principal .libros-onfire .books-content a:hover {
      background-color: #000; }

footer {
  margin-top: 5em;
  padding: 40px 0;
  background-color: cadetblue; }
  footer .footer-social {
    text-align: center;
    padding-bottom: 25px;
    color: #fff; }
    footer .footer-social h3 {
      font-size: 20px;
      font-family: "Besley", serif; }
    footer .footer-social a {
      color: #ccc;
      width: 40px;
      height: 40px;
      line-height: 38px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      margin: 0 8px;
      font-size: 20px; }
    footer .footer-social i {
      transition: 0.5s; }
    footer .footer-social i:hover {
      color: #b61928; }
  footer .footer-list {
    list-style: none;
    text-align: center; }
    footer .footer-list h3 {
      color: #fff;
      font-family: "Besley", serif;
      font-size: 20px; }
    footer .footer-list li a {
      color: #ccc;
      text-decoration: none; }
  footer .libros-footer {
    list-style: none;
    text-align: center; }
    footer .libros-footer h3 {
      color: #fff;
      font-size: 20px;
      font-family: "Besley", serif; }
    footer .libros-footer li {
      color: #ccc; }
  footer .editoriales-footer {
    list-style: none;
    text-align: center; }
    footer .editoriales-footer h3 {
      color: #fff;
      font-size: 20px;
      font-family: "Besley", serif; }
    footer .editoriales-footer li {
      color: #ccc; }
  footer .fila-copy-footer {
    text-align: center; }
    footer .fila-copy-footer p {
      color: #ccc; }
